page-single {
  .Content
  {
    margin-top: 0px;
    z-index: -1;
    position: relative;
    background-color: #f7f7f7;
  }
}


.SingleTitle
{
  overflow: hidden;
  width: 100%;
}
.shipped
{
  margin-top: 10px;
}
.SingleTitleRight
{
  float: right;
  width: 20%;
  text-align: right;
  font-size: 26px;
  margin-top: 13px;
  color: #000;
  padding-right:20px;
  font-weight: bold;
}

.SingleTitleLeft
{
  float: left;
  width: 80%;
  font-size: 21px;
  font-weight: bold;
  padding-left:22px;
  padding-top: 5px;
  margin-top: 10px;
}

.singleInfo
{
  text-align: right;
  margin-top: 0px;
  overflow: hidden;
  padding:5px 20px 5px 17px;

  font-size: 14px;
  color: #00006f;
  direction: rtl;
  font-weight: bold;
}


.singlePrice
{
  text-align: right;
  margin-top: 10px;
  overflow: hidden;
  padding:5px 10px 5px 10px;
  width: 98%;
  font-size: 13px;
  color: #00006f;
  direction: rtl;
  font-weight: bold;
}

.singlePrice span
{
  font-size: 17px;
}

.singleQnt
{
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
}

.singleQntRight
{
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
  font-weight: bold;
  color: #00006f;
  float: right;
  width: 25%;
  margin-top: 7px;
}

.singleQntCenter
{
  float: right;
  width: 20%;
}

.singleQntCenter input
{
  width: 100%;
  padding: 5px;
  text-align: center;
  margin-top:0px;
  background-color: #f4f4f4;
}

.QntInput
{
  border-bottom: none;
}



.singleQntLeft
{
  text-align: right;
  margin-right: 20px;
  color: #00006f;
  float: right;
  width: 15%;
  margin-top:5px;
  font-weight: bold;
}

.CB
{
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  border: none !important;
  border-bottom: none !important;
  border-style: none
}

.CBleft
{
  float: left;
  width: 48%;
  border: none !important;
  border-bottom: none !important;
  border-style: none
}

.CBright
{
  float: left;
  width: 48%;
  border: none !important;
  border-bottom: none !important;
  border-style: none;
}

.CoLabel
{
  text-align: right;
  border: none !important;
  border-style: none;
}

.inviteFooter
{
  padding: 12px;
  background-color: aqua;
  text-align: center;
  color: #00006f;
  font-size: 25px;
  font-weight: bold;
}

.list a.item
{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.ImageW
{
  width: 100%;
  position: relative;
}

.closeButton
{
  width: 30px;
  height: 30px;
  position: absolute;
  top:6px;
  left: 10px;
  z-index: 100;
}

.FavButton
{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
}

.BasketButton
{
  width: 40px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 35px;
  z-index: 100;
}


.sideButtonBadge
{
  background-color: red;
  border-radius:50%;
  font-size: 12px;
  margin-top: 5px;
  padding: 6px;
  width: 25px;
  height: 25px;
  color: white;
}

.badgeText
{
  top: -14px;
  margin-left: 13px;
  position: relative;
  color: red;
  font-weight: bold;
  font-size: 16px;
}


.footerClass
{
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  bottom: -6px;
  border: none;
  height: 100%;
}

.footerClassLeft
{
  float: left;
  height: 300px;
}




ion-label {
  width: 0 !important;
  max-width: 0 !important;
}

.item {
  color: color($colors, primary) !important;
}

.item-inner {
  border-bottom-color: transparent !important;
}

.faq-text {
  padding: 10px 0;
}


.Question
{
  width: 100%;
  background-color: red !important;
}

.QuestionLeft
{
  width: 30% !important;
  float: left !important;
  background-color: red !important;
}

.QuestionRight
{
  width: 40%;
  float: right;
}

.addIcon
{
  font-size: 30px;
  margin-top: -8px;
}

.itemTitle
{
  color: #000;
  font-size: 17px;
  font-weight: bold;
}

.itemDesc
{
  color: #000;
  font-size: 14px;
  padding: 8px;
  line-height: 1.5;
}