<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header></header>
</ion-header>



<ion-content padding>
  <ion-item no-lines class="RegTitle">
    <label>{{'contacttitletext' | translate}}</label>
  </ion-item>

  <ion-list class="Inputs">
    <ion-item>
      <ion-label floating>{{'fullnametext' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="Contact.name" name="name" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'phonetext' | translate}}</ion-label>
      <ion-input type="tel" [(ngModel)]="Contact.phone" name="phone" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'emailtext' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="Contact.mail" name="mail" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'desctext' | translate}}</ion-label>
      <ion-textarea type="text" [(ngModel)]="Contact.details" name="details" ></ion-textarea>
    </ion-item>


    <div style="width: 100%; margin-top: 20px;" align="center" (click)="SendForm()">
      <div style="width: 90%">
        <button ion-button color="primary" style="width: 100%">{{'sendtext' | translate}}</button>
      </div>
    </div>



  </ion-list>
</ion-content>
<ion-footer class="FooterClass">
  <footer></footer>
</ion-footer>