<ion-header style="height: 90px">
    <ion-navbar primary>
        <ion-buttons right>
            <button (click)="goToBasket()" *ngIf="isAvailble">
                {{BasketPrice}}
            </button>
        </ion-buttons>
        <ion-buttons left>
            <div style="background-color:#fff;">
                <div><img src="images/logo.png" style="width: 80px; padding: 4px;"></div>
            </div>
        </ion-buttons>
    </ion-navbar>

    <ion-scroll class="customMenuScroll" scrollX="true" *ngIf="isAvailble">
        <div  *ngFor="let item of SubCategories let i=index" class="video-block1" text-center (click)="getProductsArray(i)"> {{item.title}} <div class="video-block1" text-center>|</div> </div>
    </ion-scroll>

</ion-header>


<ion-content >
    <div class="Content">
        <div class="Product" *ngFor="let item of Products let i=index" (click)="gotToShopPage(i)">
            <div *ngIf="i%2 == 0" class="mainItem" align="center">
                <div style="width: 90%">
                    <div class="mainItemLeft">
                        <img src="{{ServerHost+Products[i].image}}" style="width:100%;">
                        <div class="mainItemTitle">{{item.title}}</div>
                        <hr class="mainHr">
                        <div class="priceDiv">
                            <div class="priceLeft"><span>{{item.high_price}} $</span> </div>
                            <div class="priceRight">More</div>
                        </div>
                    </div>
                    <div class="mainItemRight" *ngIf="i < Products.length-1">
                        <img src="{{ServerHost+Products[i+1].image}}" style="width:100%;">
                        <div class="mainItemTitle">{{item.title}}</div>
                        <hr class="mainHr">
                        <div class="priceDiv">
                            <div class="priceLeft"><span>{{Products[i+1].high_price}} $</span> </div>
                            <div class="priceRight">More</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-content>

