page-home
{

}

.customScroll {
  height: 35vh;
  white-space: nowrap;
  display: flex;
}

.customMenuScroll
{
  height: 5vh;
  white-space: nowrap;
  display: flex;
  margin-top: -20px;
}

.video-block {
  display: inline-block;
  height: 31vh;
  width: 30vw;
  padding: 10px;

}

.video-block1 {
  display: inline-block;
  height: 31vh;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.Title
{
  white-space: normal;
  text-align: left;
}

.icon
{
  width: 19%;
  margin-top:0px;
}

.homeCatTitle
{
  padding: 10px;
}

.homeProducts
{
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
}

.homeProduct
{
  font-size: 12px;
  margin-left: 2%;
}

.homeTitle {
  font-size: 11px;
  margin-top: -13px;
  text-align: left;
}

.homeDescription
{
  font-size: 8px;
  margin-top: -10px;
  text-align: left;
}

.Content
{
  margin-top:10px;
  margin-bottom: 100px !important;
}

.mainHr
{
 margin-top: 3px;
}
.mainItem
{
  overflow: hidden;
  width: 100%;
}

.mainItemLeft
{
  width: 48%;
  float: left;
}

.mainItemRight
{
  width: 48%;
  float: right;
}

.priceDiv
{
  overflow: hidden;
  width: 100%;
  margin-top: -3px;
  margin-bottom: 10px;
}

.priceLeft
{
  width: 48%;
  float: left;
  text-align: left;
  font-weight: bold;
}

.priceRight
{
  width:48%;
  float: right;
  background-color: #ffd012;
  padding:3px;
}

.mainItemTitle{
  text-align: left;
}
