<!-- Generated template for the HeaderComponent component -->

  <ion-toolbar no-border-top class="ToolBarClass">
    <div class="ToolBarBackButton">
      <button  ion-button icon-only clear navPop>
        <ion-icon style="color: white" name="ios-arrow-back-outline"></ion-icon>
      </button>
    </div>
    <div class="ToolBarTitle">
      <ion-title>
        <img src="images/head_logo.png" class="headLogo"  />
      </ion-title>
    </div>

    <ion-buttons right>
      <button (click)="goToBasket()">
        {{BasketPrice}}
      </button>
    </ion-buttons>


  </ion-toolbar>

