<ion-menu [content]="content" side="right" persistent="true">
    <ion-header>
        <ion-toolbar  style="background-color: #022850 !important;">
            <ion-title style="text-align: right;">תפריט צהלה</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" style="text-align: right; direction: rtl">
                <ion-icon class="sideMenuIcon" name="{{p.icon}}"></ion-icon>
                <span class="sideMenuText">{{p.title}}</span>
            </button>
        </ion-list>
    </ion-content>

</ion-menu>


<ion-nav [root]="rootPage"></ion-nav>
